{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>InstaClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

{% if user.is_authenticated %}
<div class="navbar">
    <b>📸 InstaClone</b> |
    <a href="/"><i class="fa-solid fa-house"></i> Feed</a>
    <a href="/explore/"><i class="fa-solid fa-compass"></i> Explore</a>
    <a href="/notifications/"><i class="fa-solid fa-bell"></i> Notifications</a>
    <a href="/upload/"><i class="fa-solid fa-square-plus"></i> Upload</a>
    <a href="/profile/"><i class="fa-solid fa-user"></i> Profile</a>
    <a href="/logout/"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    <a href="/inbox/"><i class="fa-solid fa-envelope"></i> Messages</a>

    <button onclick="toggleTheme()" style="float:right;">🌙</button>
</div>
{% endif %}

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script>
function toggleTheme() {
    document.body.classList.toggle("dark");

    if (document.body.classList.contains("dark")) {
        localStorage.setItem("theme", "dark");
    } else {
        localStorage.setItem("theme", "light");
    }
}

if (localStorage.getItem("theme") === "dark") {
    document.body.classList.add("dark");
}
</script>

</body>
</html>
