

{% extends "core/base.html" %}

{% block content %}

<div class="page-content">
    <div class="edit-profile-card">

        <h1>✏️ Edit Profile</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <b>Current Photo</b><br>
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" width="140">
                {% endif %}
            </p>

            <p>
                <b>Change Photo</b><br>
                <input type="file" name="profile_image">
            </p>

            <p>
                <b>Bio</b><br>
                <textarea name="bio" rows="4">{{ profile.bio }}</textarea>
            </p>

            <button type="submit">Save Changes</button>
        </form>

    </div>
</div>

{% endblock %}
