{% extends "core/base.html" %}

{% block content %}

<div class="page-center">
    <div class="auth-card">

        <h2>Login</h2>

        <form method="POST">
            {% csrf_token %}
            <input name="username" placeholder="Username" required>
            <input name="password" type="password" placeholder="Password" required>
            <button>Login</button>
        </form>

        <p style="margin-top:15px;">
            <a href="/password-reset/">Forgot password?</a>
        </p>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <hr>

        <p>
            Don't have an account?
            <a href="/signup/">Create one</a>
        </p>

    </div>
</div>

{% endblock %}
