{% extends "core/base.html" %}

{% block content %}

<div class="page-content">

    <h2>🔔 Notifications</h2>

    {% if notifications %}
        {% for n in notifications %}
            <div class="notification-card">

                <div>
                    <b>{{ n.sender.username }}</b>

                    {% if n.notification_type == "follow" %}
                        started following you.
                    {% elif n.notification_type == "like" %}
                        liked your post.
                    {% elif n.notification_type == "comment" %}
                        commented on your post.
                    {% endif %}
                </div>

                <small>{{ n.created_at }}</small>

            </div>
        {% endfor %}
    {% else %}
        <p>No notifications yet.</p>
    {% endif %}

</div>

{% endblock %}
