{% extends "core/base.html" %}

{% block content %}

<h1>🔔 Notifications</h1>

{% if notifications %}
    {% for n in notifications %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">
            <b>{{ n.sender.username }}</b>

            {% if n.notification_type == "follow" %}
                started following you.
            {% elif n.notification_type == "like" %}
                liked your post.
            {% elif n.notification_type == "comment" %}
                commented on your post.
            {% endif %}

            <br>
            <small>{{ n.created_at }}</small>
        </div>
    {% endfor %}
{% else %}
    <p>No notifications yet.</p>
{% endif %}

{% endblock %}
